__pycache__/
*.py[cod]
*$py.class

*/migrations/
!*/migrations/__init__.py
# skip all except __init__.py

db.sqlite3

.env
.env.*

.vscode/

.DS_Store

env/

*.log

staticfiles/
media/

htmlcov/
.coverage
.tox/
.pytest_cache/

.mypy_cache/

*.lock